<h5>This is your personal API key </h5>
<p><%= @user.api_key %></p>
<div class="row s12 m4 l8 api-key">
  <button class='btn clip_button menu-buttons' data-clipboard-text= "<%= @user.api_key %>">
  Copy Link to Clipboard
  </button>
</div
