<div class="row">
<div class="col l6">
<div class="short-list">
<ul class="collection with-header">
<li><h5 class="login-text"><%= @user.name  %> Shortr Links </h5></li>
<% @user.links.each do |link|%>
<% if link.deleted != true %>
<li class="collection-item">
<%= link_to link_title(link), link_path(link), remote: true%>
<div class="secondary-content"><%= time_ago_in_words(link.created_at)%></div>
</li>
<% end %>
<% end %>
</ul>
</div>
</div>
<div class="col l6">
<div class="row" id="show-link">

</div>
</div>
</div>
