<h3><%= @user.name  %> Shortr Links </h3>
  <div class="row">
    <div class="col l6">

      <ul class="collection">
  <% @user.links.each do |link|%>
     <li class="collection-item avatar">
       <span class="title"><%= link_to link.title, link_path(link), remote: true%></span>
       <p><%= link.full_url %><br>
          <%= link.short_url %>
          <p>count </p>
       </p>
       <p class="secondary-content">time ago</p>
     </li>
<% end %>
</ul>
    </div>
    <div class="col l6">
      <div class="row" id="show-link">

      </div>
    </div>
  </div>
