<div class="card main-card">
  <div class="card-content">
    <span class="card-title">Recent Links</span>
    <% @recent_links.each do |link|%>
    <div class="card sub-card">
      <div class="card-content">
        <p><strong>Shortr Link: </strong><%= root_url + link.short_url %></p>
        <p><strong>Click: </strong><%= link.visit_count %></p>
        <p><%= time_ago_in_words(link.created_at) %></p>
      </div>
    </div>
    <% end %>
</div>
</div>
