.background {
  background: url("http://bit.ly/1Ma7Dzv");
  background-size: cover;
  min-height: 100%;
  height: auto;
}

.url-container {
  margin-top: 200px
}

.header {
  background: white;
}

.brand-logo {
  left: 20px !important;
}

// .menu-items {
//   margin-right: 20px;
// }

.page-footer {
  background: #345b70 !important;
}

.footer-copyright {
  background: #7c96a4 !important;
}

.sub-card {
  background: #7c96a4;
  color: black !important;
}

.main-card {
  background: #345b70;
}
.login-text {
    font-size: 1.9em;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    text-align: center;
    color: #0e3042;
    font-size: 45px;
    font-weight: bolder;
    font-family: Gabriola;
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #345b70;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}

nav ul a {
  color: #345b70;
  margin-top: -60px;
  margin-left: 10px;
  margin-right: 14px;
  font-family: Gabriola;
  font-size: 25px;
  font-weight: bold;
}


.edit-info{
    margin-top: 10px;
    background: #345b70;
    color: #fff;
    padding: 20px;
}

nav ul a.btn, nav ul a.btn-large, nav ul a.btn-large, nav ul a.btn-flat, nav ul a.btn-floating {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 90px;
}
a.waves-effect.waves-light.btn.inner {
    background: #7c96a4;
}
.content{
    padding: 20px;
    margin-top: -18px;
}
.fullbody {
    background: url("http://pokojan.my.id/demo/diamond/images/bg6.jpg");
    padding: 10px;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    position: relative;
}
.fullbody > .overlay {
  position: absolute;
  width:100%;
  height: 100%;
  background:#000000;
  opacity: 0.90;
  filter: alpha(opacity=90);
}

.collection .collection-item.avatar {
  min-height: 84px;
  padding: 50px;
  position: relative;
  color: #fff;
  background: #345b70;
}


// .body-container {
//   background: #F1F1F1 none repeat scroll 0 0;
// }
//
// .input-field {
//   background: red;
//   width: 80%;
//   align-self: center;
// }
